@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post" asp-action="Cookies">
        <label for = "value">Введіть будь-яке значення</label>
        <input type="text" name="value" required/>
        <label for ="data">Вкажіть дату</label>
        <input type="datetime-local" id="data" name="data" required>
        <input type="submit" value="Submit">
    </form>
    <h4>@ViewData["message"]</h4>
</div>
